@page "/courses"
@inject NavigationManager Navigator

<div class="alert alert-primary text-center">
    <h2>Courses</h2>
</div>

<button @onclick="AddCourse" class="btn btn-primary mb-3">Add New Course</button>

<hr />

<div class="m-4">
    <CourseList/>
</div>

@code {
    void AddCourse()
    {
        Navigator.NavigateTo("addcourse");
    }
}
