@page "/courses"
@inject NavigationManager Navigator

<div class="alert alert-dark text-center">
    <h1>Courses</h1>
</div>

<div class="d-flex justify-content-center mt-3">
    <button @onclick="AddCourse" class="btn btn-dark mb-3">Add New Course</button>
</div>

<hr />

<div class="m-4">
    <CourseList/>
</div>

@code {
    void AddCourse()
    {
        Navigator.NavigateTo("addcourse");
    }
}
