@page "/instructors"
@inject NavigationManager Navigator

<div class="alert alert-dark text-center">
    <h1>Instructors</h1>
</div>

<div class="d-flex justify-content-center mt-3">
    <button @onclick="AddInstructor" class="btn btn-dark mb-3">Add New Instructor</button>
</div>

<hr />

<div class="m-4">
    <InstructorList />
</div>
@code {
    void AddInstructor()
    {
        Navigator.NavigateTo("addinstructor");
    }
}