@page "/students"
@inject NavigationManager Navigator

<div class="alert alert-primary text-center">
    <h2>Add Students</h2>
</div>

<button @onclick="AddStudent" class="btn btn-primary mb-3">Add New Student</button>

<hr />

<div class="m-4">
    <StudentsList/>
</div>

@code {
    void AddStudent()
    {
        Navigator.NavigateTo("addstudent");
    }
}
