@page "/students"
@inject NavigationManager Navigator

<div class="alert alert-dark text-center">
    <h1>Add Students</h1>
</div>

<div class="d-flex justify-content-center mt-3">
    <button @onclick="AddStudent" class="btn btn-dark mb-3">Add New Student</button>
</div>

<hr />

<div class="m-4">
    <StudentsList/>
</div>

@code {
    void AddStudent()
    {
        Navigator.NavigateTo("addstudent");
    }
}
