@page "/students"
@inject NavigationManager Navigator

<h3>Add Students</h3>

<button @onclick="AddStudent" class="btn btn-primary mb-3">Add New Student</button>

<hr />

<StudentsList/>

@code {
    void AddStudent()
    {
        Navigator.NavigateTo("addstudent");
    }
}
