@using AKSoftware.Blazor.Utilities
@inject NavigationManager Navigator

<div class="alert alert-secondary" role="alert">
    <h1>StudentList</h1>
</div>

<table class="table table-light">
    <thead class="table-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Age</th>
            <th scope="col">Number of Courses</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in students)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Address</td>
                <td>@student.Age</td>

                <td>@student.StudentCourses.Count</td>
                <td>
                    <button class="btn btn-warning" @onclick="() => ViewStudentDetails(student.Name)">
                        details
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    List<Student> students = new();
    ManagerContext db = new();

    protected override void OnInitialized()
    {

        students = db.Students
            .Include(s => s.StudentCourses)
            .ThenInclude(sc => sc.Course)
            .ToList();
        
        base.OnInitialized();
    }

    private void ViewStudentDetails(string studentName)
    {
        Navigator.NavigateTo($"/studentdetails/{studentName}");
    }
}
